* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.donation-map {
    background-image: url("/assets/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.location {
    max-height: 10em;
    max-width: 5em;
    position: fixed;
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.donation {
    max-height: 7em;
    max-width: 5em;
    content: url("/assets/red-location-icon.png");
}

.your-location {
    max-height: 6em;
    max-width: 6em;
    position: fixed;
    display: inline;
    margin-top: 5em;
    margin-left: 50%;
    transform: translateX(-50%);
}

.location1 {
    margin-top: 10em;
    margin-left: 10%;
}

.location2 {
    margin-top: 20em;
    margin-left: 50%;
    transform: translateX(-50%);
}

.location3 {
    margin-top: 15em;
    margin-left: 90%;
    transform: translateX(-100%);
}

.caption, .your-caption {
    text-align: center;
    align-self: center;
    font-size: 1em;
    background-color: white;
    border: 1px solid rgb(144, 17, 43);
    border-radius: 1em;
    padding: 0.8em;
    min-width: fit-content;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 2px 2px 1px rgb(175, 170, 170);
}

.your-caption {
    border-color: lightseagreen;
}

p, h5 {
    padding: 1rem;
    display: flex;
    text-align: justify;
    justify-content: safe;
}

p {
    margin-top: -1.5em;
}

.ion-title {
    font-size: 1.5em;
}

#modalContent {
    min-height: 80vh;
    overflow-y: auto;
    display: flex;
    text-align: justify;
    justify-content: safe;
}

.donate-btn {
    position: absolute;
    bottom: 1%;
    width: 80%;
    left: 10%;
    padding: 0 0.5rem;
    border: 2px solid gray;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 1px 4px 2px lightgray;
    color: black;
    font-size: 18px;
}

#recommendation {
    color: green;
}

@media only screen and (max-width: 768px) {
    .location {
        max-height: 5em;
        max-width: 3em;
    }

    .your-location {
        max-height: 5em;
        max-width: 5em;
    }

    .caption, .your-caption {
        font-size: 0.71em;
        margin: -0.1em 0 0 0.7em;
    }
}