.custom-background {
    background-color: #FFF;
    /* Set your desired background color for the page */
    position: absolute;
    height: 100%;
}

.custom-card {
    background-color: #F5F5F5;
    /* Set your desired background color for IonCard */
    border-radius: 10px 10px 15px 15px;
    box-shadow: 6px 9px 2px 0px rgba(0, 0, 0, 0.25);
    height: 45%;
    margin: 10px 30px 15px 30px;
    overflow-y: auto;
}

.custom-card:active {
    box-shadow: 6px 9px 2px 0px rgba(0, 0, 0, 0);
}

ion-img {
    margin-top: 0 !important;
}

ion-card-header {
    padding-bottom: 0 !important;
}

.custom-text p {
    font-size: 14px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.custom-title {
    color: #000;
    font-weight: 900;
    font-size: 22px;

}

/*  */
.cross-icon {
    font-size: 24px;
    border: 2px solid red;
    border-radius: 100%;
    color: rgb(224, 61, 61);
}

#favourites-list, #wasted-list {
    margin-bottom: -1rem;
}